---
    const name = 'cta';

---

<button>
    <span>MENU</span>
</button>
<style>
button{
    margin-top:1vw;
    margin-right:1vw;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 9px 28px;
    border:none;
    right: 0;
    top: 0;
    z-index: 3;
}
button span{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #000000;
}
@media (max-width: 768px) {
button{
    margin-top:3vw;
    margin-right:3vw;
}
}
</style>